<div class="chat item {{#if chat.currentChat}}selected{{/if}}" data-chat-id="{{chat.id}}">
    <div class="chat avatar">
        {{#if chat.avatar}}
            <img src="{{avatar}}" alt="{{chat.title}}">
        {{else}}
            <div class="default-avatar">{{firstLetter chat.title}}</div>
        {{/if}}
    </div>
    <div class="dialog title">
        <div class="dialog title-user-title">{{chat.title}}</div>
        <div class="dialog title-details">{{#if chat.last_message}}{{formatDate chat.last_message.time}}{{/if}}</div>
    </div>
    <div class="dialog subtitle">
        <div class="dialog subtitle-message">{{#if chat.last_message}}{{chat.last_message.content}}{{/if}}</div>
        <div class="dialog subtitle unread">
            {{#if chat.unread_count}}
                <span class="unread-count">{{chat.unread_count}}</span>
            {{/if}}
        </div>
    </div>
</div>
