<div class="chat wrapper">
    <div class="chat sidebar">
        <div class="chat list">
            <div class="list-header">
                <div class="section buttons">
                    <span class="chat create-new-chat">
                        {{{ Button class="new-chat" type="button" label="Create chat" onClick=onChatCreate }}}
                    </span>
                    <span class="profile">
                        {{{ Button class="profile-button" type="button" label='Profile' onClick=goToSettings }}}
                    </span>
                </div>
                {{{ Search placeholder="Search users and chats" }}}
                {{#if error}}
                    <div class="error-message">{{error}}</div>
                {{/if}}
            </div>
            {{{ ChatList }}}
        </div>
    </div>
    <div class="chat messenger">
        <div class="messenger-body">
            {{{ ChatBody currentChat=currentChat }}}
        </div>
    </div>
    {{{ ChatCreate }}}
</div>
