<div class="main-page container">
    <nav class="main-page items">
        {{{ Button class="login-page" type="button" label="Login Page" id="button" page="LoginPage" }}}
        {{{ Button class="registration-page" type="button" label="Registation Page" id="button" page="RegistrationPage" }}}
        {{{ Button class="chat-list-page" type="button" label="Chat Page" id="button" page="ChatPage" }}}
        {{{ Button class="profile-page" type="button" label="Profile Page" id="button" page="ProfilePage" }}}
        {{{ Button class="profile-edit-page" type="button" label="Edit Profile Page" id="button" page="ProfileEditPage" }}}
        {{{ Button class="profile-edit-password-page" type="button" label="Edit Password Page" id="button" page="ProfileEditPasswordPage" }}}
        {{{ Button class="error-404-page" type="button" label="Error 404" id="button" page="Error404Page" }}}
        {{{ Button class="error-500-page" type="button" label="Error 500" id="button" page="Error500Page" }}}
    </nav>
</div>
